prometheus-stack:
  alertmanager:
    config:
      route:
        group_by: [namespace, job, service]
        group_wait: 30s
        group_interval: 2m
        repeat_interval: 12h
        receiver: default
        routes: []
      receivers:
        - name: 'null'
        - name: default
          # slack_configs:
          #   - api_url_file: /etc/alertmanager/secrets/alertmanager-custom-secret/slack-api-url-file
          #     channel: "#deranged-kom1-cluster"
          #     send_resolved: true

    ingress:
      enabled: false
      ingressClassName: nginx
      # annotations:
      #   cert-manager.io/cluster-issuer: letsencrypt
      #   nginx.ingress.kubernetes.io/auth-signin: https://oauth2-proxy.eu-1.deranged.dk/oauth2/start?rd=$escaped_request_uri
      #   nginx.ingress.kubernetes.io/auth-url: https://oauth2-proxy.eu-1.deranged.dk/oauth2/auth
      # hosts:
      #   - alertmanager.kom1.deranged.dk
      # tls:
      #   - secretName: alertmanager.kom1.deranged.dk-tls
      #     hosts:
      #       - alertmanager.kom1.deranged.dk

    alertmanagerSpec:
      replicas: 2
      # volumes:
      #   - name: alertmanager-custom-secret
      #     secret:
      #       secretName: alertmanager-custom-secret
      #       items:
      #       - key: url
      #         path: slack-api-url-file
      # volumeMounts:
      #   - mountPath: /etc/alertmanager/secrets/alertmanager-custom-secret
      #     name: alertmanager-custom-secret
      #     readOnly: true


  grafana:
    ingress:
      enabled: true
      ingressClassName: traefik
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt
      hosts:
        - grafana.example.com
      tls:
        - secretName: grafana-tls
          hosts:
            - grafana.example.com

    additionalDataSources:
      - name: Loki
        type: loki
        access: proxy
        url: http://loki-headless:3100
      - name: Tempo
        type: tempo
        access: proxy
        url: http://tempo:3200
        jsonData:
          httpMethod: GET
          serviceMap:
            datasourceUid: 'prometheus'
          tracesToLogs:
            datasourceUid: 'Loki'
            tags: [ 'job', 'instance', 'pod', 'namespace' ]
            mappedTags: [
              { key: 'service.name', value: 'service' },
              { key: 'service.namespace', value: 'namespace' }
            ]
            mapTagNamesEnabled: false
            spanStartTimeShift: '1h'
            spanEndTimeShift: '1h'
            filterByTraceID: false
            filterBySpanID: false
          tracesToMetrics:
            datasourceUid: 'prometheus'
            tags: [
              { key: 'service.name', value: 'service' },
              { key: 'job' }
            ]
            queries:
              - name: 'Sample query'
                query: 'sum(rate(tempo_spanmetrics_latency_bucket[$__rate_interval])) by (service_name)'
          nodeGraph:
            enabled: true

    grafana.ini:
      server:
        domain: grafana.example.com
        root_url: https://grafana.example.com
      auth.anonymous:
        enabled: false
      auth.basic:
        disable_login_form: false

  prometheus:
    ingress:
      enabled: false
      # ingressClassName: nginx
      # annotations:
      #   cert-manager.io/cluster-issuer: letsencrypt
      #   nginx.ingress.kubernetes.io/auth-signin: https://oauth2-proxy.eu-1.deranged.dk/oauth2/start?rd=$escaped_request_uri
      #   nginx.ingress.kubernetes.io/auth-url: https://oauth2-proxy.eu-1.deranged.dk/oauth2/auth
      # hosts:
      #   - prometheus.kom1.deranged.dk
      # tls:
      #   - secretName: prometheus.kom1.deranged.dk-tls
      #     hosts:
      #       - prometheus.kom1.deranged.dk

    prometheusSpec:
      enableRemoteWriteReceiver: true
      retention: 30d
      storageSpec:
        volumeClaimTemplate:
          spec:
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 40Gi

  defaultRules:
    rules:
      kubeProxy: false
